In [1]:
import gpxpy
import matplotlib.pyplot as plt
import datetime
from geopy import distance
from math import sqrt, floor
import numpy as np
import pandas as pd
import chart_studio.plotly as py
import plotly.graph_objs as go
import haversine

In [2]:
gpx_file = open('lake-valhalla.gpx', 'r')
gpx = gpxpy.parse(gpx_file)
print(gpx)

GPX(tracks=[GPXTrack(name='Lake Valhalla', segments=[GPXTrackSegment(points=[...])])])

# Lets examine the .gpx file

In [ ]:
# this is for made routes
#print(len(gpx.routes))
#print(len(gpx.routes[0].points))
#print(gpx.routes[0].points[:5])
# create pandas dataframe
#df_route = pd.DataFrame(columns=['lon', 'lat', 'alt'])
#for point in gpx.routes[0].points:
#    df_route = df_route.append({'lon': point.longitude, 'lat' : point.latitude, 'alt' : point.elevation}, ignore_index=True)
#df_route.describe()

In [6]:


# this is for recorded tracks

print(len(gpx.tracks))
print(len(gpx.tracks[0].segments))
print(len(gpx.tracks[0].segments[0].points))

data = gpx.tracks[0].segments[0].points
start = data[0]
finish = data[-1]
print(start)
print(finish)
df = pd.DataFrame(columns=['lon', 'lat', 'alt', 'time'])
for point in data:
    df = df.append({'lon': point.longitude, 'lat' : point.latitude, 'alt' : point.elevation, 'time' : point.time}, ignore_index=True)
df.describe()

1
1
314
[trkpt:47.802316,-121.07727@1216.74@2018-10-23 11:25:23-06:00]
[trkpt:47.802316,-121.07727@1216.8@2018-10-23 16:38:23-06:00]

              lon         lat          alt
count  314.000000  314.000000   314.000000
mean  -121.088626   47.799652  1415.326433
std      0.008121    0.004738    99.933999
min   -121.104048   47.791478  1216.740000
25%   -121.096170   47.795177  1348.120000
50%   -121.087043   47.801616  1432.810000
75%   -121.080773   47.803348  1495.572500
max   -121.077270   47.806956  1550.120000

              lon         lat         alt
count  844.000000  844.000000  844.000000
mean  -122.101259   47.534674  328.150314
std      0.015821    0.006120   90.491421
min   -122.125901   47.523548   41.007032
25%   -122.114157   47.530322  266.219143
50%   -122.103486   47.535362  345.642000
75%   -122.088050   47.539571  394.109800
max   -122.070260   47.546081  461.986400

# now lets try to get discriptions of those points from open street map

In [45]:

import requests
import json
import overpy
import overpass

df_osm = pd.DataFrame()
for i in range(0,len(df.lon), 50):
    print(i)
    r =requests.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat={lat}&lon={lon}&zoom={zoom}&adressdetails=1'.format(lat = df.lat[i],
                                                                        lon = df.lon[i],
                                                                        zoom = 18))
    r_json = r.json()
    x = pd.DataFrame([r_json])
    df_osm = pd.concat([df_osm,x], axis=0)

0
50
100
150
200
250
300

In [ ]:
df = pd.DataFrame()
for j in range(len(r)):
    x = pd.DataFrame(r[j])
    df = pd.concat([df,x], axis=0)

In [65]:
from OSMPythonTools.nominatim import Nominatim
from OSMPythonTools.overpass import Overpass, overpassQueryBuilder
from OSMPythonTools.data import Data, dictRangeYears, ALL

from collections import OrderedDict
overpass = Overpass()
nominatim = Nominatim()

In [66]:
nominatim.query