In [1]:
import gpxpy
import matplotlib.pyplot as plt
import datetime
from geopy import distance
from math import sqrt, floor
import numpy as np
import pandas as pd
import chart_studio.plotly as py
import plotly.graph_objs as go
import haversine

In [7]:
gpx_file = open('1064852304.gpx', 'r')
gpx = gpxpy.parse(gpx_file)

In [8]:
print(len(gpx.tracks))
print(len(gpx.tracks[0].segments))
print(len(gpx.tracks[0].segments[0].points))

1
1
4664

In [12]:
data = gpx.tracks[0].segments[0].points
start = data[0]
finish = data[-1]
print(start)
print(finish)
df = pd.DataFrame(columns=['lon', 'lat', 'alt', 'time'])
for point in data:
    df = df.append({'lon': point.longitude, 'lat' : point.latitude, 'alt' : point.elevation, 'time' : point.time}, ignore_index=True)
df.describe()

[trkpt:41.432708,-122.12504@2147.3@2017-07-01 22:36:03+00:00]
[trkpt:41.432585,-122.124837@2145.8@2017-07-02 21:14:12+00:00]

               lon          lat          alt
count  4664.000000  4664.000000  4664.000000
mean   -122.158638    41.421969  2891.453709
std       0.021935     0.008086   649.713609
min    -122.194923    41.408949  2124.200000
25%    -122.178888    41.414969  2316.600000
50%    -122.158418    41.421399  2677.900000
75%    -122.137343    41.428554  3397.050000
max    -122.124356    41.436608  4299.000000

In [9]:
dirs = '~/IDS-project/data/export_21762824/activities'
gpx_files = glob.glob('{}/{}'.format(dirs, ))
if not gpx_files:
        exit('ERROR No GPX files in {}'.format(args.dir))

    data = []

    for gpx_file in gpx_files:
        print('Reading {}'.format(gpx_file))

        with open(gpx_file, 'r') as file:
            for line in file:
                if '<trkpt' in line:
                    r = re.findall('[-]?[0-9]*[.]?[0-9]+', line)

                    data.append([float(r[0]), float(r[1])])

    print('Loaded {} trackpoints'.format(len(heatmap_data)))