In [31]:
import requests
import json
import pandas as pd
import numpy as np

In [80]:
# get runs from a list of latitudes (about 10 per instance)

latitudes = np.arange(35, 0, 1)
longitudes = np.arange(-130,-65, 1)
r_wa = []
for i in latitudes:
    for j in longitudes:
        r = requests.get('https://www.trailrunproject.com/data/get-trails?lat={lat}&lon={lon}&maxDistance=100&key=109554088-4fc824fe38bb8105d6a1b44c2d38d3e9'
                       .format(lat = i, lon = j))
        r_json = r.json()
        r_trails = r_json['trails']

        r_wa.append(r_trails)
        #print(i,j)

In [77]:
# concatinate lists and make them into data frame
df = pd.DataFrame()
for j in range(len(r_wa)):
    x = pd.DataFrame(r_wa[j])
    df = pd.concat([df,x], axis=0)

In [68]:
df = pd.DataFrame()
df1 = pd.read_csv('training_data2.csv')
df2 = pd.read_csv('training_data3.csv')
df = pd.concat([df1, df2])

In [71]:
df = df.drop_duplicates(subset = 'id')
df.to_csv('training_data.csv',index = False, header=True)

In [74]:
df2.describe()

,id,stars,starVotes,length,ascent,descent,high,low,longitude,latitude
count,1.442000e+03,1442.000000,1442.000000,1442.000000,1442.000000,1442.000000,1442.000000,1442.000000,1442.000000,1442.000000
mean,7.043183e+06,4.112899,5.432039,7.723994,711.846741,-681.093620,1234.473648,893.020111,-84.637188,41.819813
std,2.636397e+04,1.176068,12.906482,22.473651,2310.685393,2241.200549,1029.625745,654.875433,8.390305,3.644458
min,7.000056e+06,0.000000,0.000000,0.000000,0.000000,-54394.000000,3.000000,-23.000000,-100.426800,34.783200
25%,7.022578e+06,4.000000,1.000000,1.500000,79.000000,-599.000000,685.000000,577.000000,-92.149425,38.926025
50%,7.037676e+06,4.400000,2.000000,3.300000,235.500000,-209.500000,999.000000,801.500000,-84.445850,41.790550
75%,7.060682e+06,5.000000,4.000000,6.400000,657.000000,-69.000000,1420.500000,1156.000000,-76.705225,44.570075
max,7.093101e+06,5.000000,220.000000,308.300000,58094.000000,0.000000,6680.000000,5722.000000,-68.909700,50.021500